.AboutMe {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.AboutMe img {
    margin-right: 2rem;
    max-width: 20%;
    background-color: #2980B9;
    padding: 1rem;
}

.AboutMeText {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

