.ListOfProjects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 2rem 0;
    padding: 1rem 0;
    background-color: #2980B9;

}

.ListOfProjects h1 {
    width: 100%;
}

.ProjectHeader {
    padding-left: 2rem;
}

@media (max-width: 800px) {
    .ListOfProjects {
        flex-direction: column;
    }
}