.ProjectItem img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.ProjectItem {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    padding: 1rem;
    max-width: 25%;
    background-color: #3498DB;
    border-radius: 25px;
    box-shadow: 0 0 25px black;
}

@media (max-width: 800px) {
    .ProjectItem {
        flex-direction: column;
        max-width: 75%;
    }
}