* {
  padding: 0;
  margin: 0;
}

a { color:black } /* Globally */

/* Each state */

/*
a:visited { text-decoration: none; color:red; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }
*/

body {
  background-color: #ECF0F1;
  color: #17212b;
}






